body {
    background-image: url('img/fivem-background-pic.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
div#container-box {
    background-color: #5d5d5d;
    border-radius: 15px;
    padding: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}
div#container-content {
    text-align: center;
}
div#container-content img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
div#container-content p {
    color: white;
    font-size: 12px;
    font-weight: bold;
}
div#container-content button {
    color: white;
    font-weight: bold;
    font-size: 24px;
    border: 0;
    background-color: purple;
    border-radius: 5px;
    border-bottom: 4px solid #440044;
    border-right: 4px solid #440044;
    padding: 2px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
div#container-content button:hover {
    border-bottom: 4px solid purple;
    border-right: 4px solid purple;
    cursor: pointer;
}
div#footer {
    display: inline-block;
    width: 100%;
    background-color: #5d5d5d;
    color: white;
}
div#footer div {
    display: inline-block;
}
div#footer div#footer-left {}
div#footer div#footer-right {
    float: right;
}
h3, h2 {
    color: white;
}